<!DOCTYPE html>
<html lang="en">
<style>
    a{text-decoration:none}
    li{list-style:none}
</style>
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{title}} - MyWeb</title>
    {% else %}
    <title>Welcome to MyWen</title>
    {% endif %}
</head>
<body>
    <div>
        <a href="/">Home</a><a href='register', style="margin-left:20px">Register</a></h2>
    </div>
    <hr>
    {% block content %}{% endblock %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}<li>{{ message }}</li>
    {% endfor %}
    {% endif %}
    {% endwith %}
    </ul>
</body>
</html>