<!-- extend from base layout -->
{% extends "base.html" %}

{% block title %}Flasky - Sign In{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Sign In</h1>
        <form action="" method="post" name="login">
            {{form.hidden_tag()}}
            <p>
                Please enter your user id:<br>
                {{form.user_id(size=50)}}<br>
                {% for error in form.errors.user_id %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}<br>
            </p>
            <p>
                Please enter your password:<br>
                {{form.password(size=50)}}<br>
                {% for error in form.errors.password %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}<br>
            </p>
            <p>{{form.remember_me}} Remember Me</p>
            <p><input type="submit" value="Sign In"></p>
        </form>
    </div>
</div>
{% endblock %}